* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #6bd9ff;
    width: 100%;
    padding: 15px 0px;
    margin : 0px auto;
    font-family: "Avenir Next";
    text-align: center;
    color: black;
}
.header-title {
    font-size: 32px;
}

.header-list {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    margin: 0 auto;
}

main {
    background-color:  white;
}