* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #6bd9ff;
    padding: 0px;
    margin : 0px;
}
.header-title {
    color : black;
    font-size: 60px;
    padding: 10px;
    background-color: red;
}

main {
    background-color:  white;
}